.current {
  position: absolute;
  display: grid;
  left: 50%;
  transform: translateX(-50%);
}

#current-timezone {
  font-size: 1.4em;
  font-style: italic;
}

#current-temperature {
  font-size: 4em;
  font-weight: 1000;
  background-color: #f4f4f476;
  width: 110%;
  letter-spacing: 2px;
  border-radius: 10%;
}

#current-desc {
  font-size: 1.4em;
  font-style: italic;
  text-transform: capitalize;
}

@media only screen and (min-width: 500px) {
  .current {
    top: 8%;
    gap: 2%;
  }

  #current-timezone {
    font-size: 2.5em;
  }

  #current-temperature {
    font-size: 5em;
  }

  #current-desc {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 1025px) {
  .current {
    top: 9%;
    font-size: 1.3em;
    gap: 2%;
    line-height: 1.4;
  }

  #current-temperature {
    padding: 5px 15px;
  }
}
