.current {
  position: absolute;
  display: grid;
  left: 50%;
  top: 6%;
  transform: translate(-50%, 0);
}

#current-timezone {
  font-size: 1.4em;
  font-style: italic;
}

#current-temperature {
  font-size: 4em;
  font-weight: 1000;
  background-color: #f4f4f476;
  width: 110%;
  letter-spacing: 2px;
  border-radius: 100vh;
}

#current-desc {
  font-size: 1.4em;
  font-style: italic;
  text-transform: capitalize;
}

@media only screen and (min-width: 500px) {
  .current {
    top: 18%;
    gap: 2%;
  }

  #current-timezone {
    font-size: 1.8em;
  }

  #current-temperature {
    font-size: 5em;
  }

  #current-desc {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1200px) {
  .current {
    top: 9%;
    font-size: 1.3em;
    gap: 2%;
  }
}
