.current {
  position: absolute;
  display: grid;
  left: 50%;
  top: 6%;
  transform: translate(-50%, 0);
}

#current-timezone {
  font-size: 1.4em;
  font-style: italic;
}

#current-temperature {
  font-size: 4em;
  font-weight: 1000;
  background-color: #f4f4f476;
  width: 110%;
  letter-spacing: 2px;
  border-radius: 100vh;
}

#current-desc {
  font-size: 1.4em;
  font-style: italic;
  text-transform: capitalize;
}

/* @media only screen and (min-width: 600px) {
  .current {
    font-size: 1em;
  }
} */

@media only screen and (min-width: 1200px) {
  .current {
    font-size: 1.3em;
  }

  .current {
    gap: 15%;
  }
}
