.daily-container {
  height: 40%;
  width: 67%;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, 0);
  display: grid;
  row-gap: 5px;
  font-size: 1.2em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.day {
  background-color: #1c323ae5;
  border-radius: 25px;
  color: rgb(243, 241, 241);
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .daily-container {
    padding: 0 11%;
  }
}

@media only screen and (min-width: 800px) {
  .daily-container {
    padding: 0 18%;
  }
}
