.links-container {
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  width: 80%;
  font-size: 0.8em;
}

.link {
  width: 38%;
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  background-color: #3b5084;
  color: #f7f4f4;
  outline: none;
  line-height: 1.8;
  transition: transform 0.2s linear;
  margin-inline: -6px;
}

.link:hover,
.link:focus {
  transform: scale(1.2);
}

.link.active {
  z-index: 5;
  background-color: #283a68;
  transform: scale(1.2);
  letter-spacing: 1px;
}

@media only screen and (min-width: 600px) {
  .links-container {
    font-size: 1.4em;
  }

  .link {
    padding: 0.25em 0.5em;
  }
}
