@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.App {
  background: url(./img/cardsvg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 500px;
  max-width: 1200px;
  margin: 2em;
  padding: 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 0.8em;
  line-height: 2.5;
  position: relative;
}

#error-alert {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  text-align: center;
  border-radius: 10px;
  font-size: 0.7em;
  line-height: 1.6;
  font-weight: bold;
  background-color: rgb(114, 11, 32);
  color: white;
  padding: 0.5em 2em;
  width: 80%;
  max-width: 600px;
}

@media only screen and (min-width: 600px) {
  #error-alert {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 850px) {
  #error-alert {
    font-size: 1.6em;
  }
}
